.data_block {
  max-width: 1000px;
  height: 500px;
  overflow-y: scroll;
  margin: auto;
}

.pagination_block {
  max-width: 1000px;
  height: 60px;
  overflow-x: scroll;
  margin: auto;
  display: flex;
  gap: 2px;
}

.hrDivider {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.input-group-text {
  width: 40%;
}

.addBtn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.charts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.successMessage {
  text-align: center;
  color: #059212;
}

.errorMessage {
  text-align: center;
  color: #C80036;
}